$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

$color-dark: #000000;
$color-dark-special: #222222;
$color-dark-primary: #444444;
$color-light: #ffffff;
$color-light-primary: #f2f2f2;
$color-light-secondary: #eaeaea;
$color-light-special: #68b738;
$color-socials:#666666;

//border

$border-style-primary: 1px solid #cdcdcd;
