@use "../common/mixins.scss";
@use "../common/variables.scss";

.catalog {
  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $color-dark;
  margin: 27px 0 41px;

  @media (min-width: $tablet-width) {
    font-size: 46px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}


.catalog__list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 17px; //разобратьсяс отступами
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
}

.catalog__prices-title {
  color: #111111;
  font-size: 16px;
}

.catalog__prices-title::before {
  content: "";
  display: block;
  background-image: url("/icons/stack.svg#plus");
  width: 30px;
  height: 30px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
}

.catalog__item {
  //width: 320px;
  padding: 20px 0 25px;
  //display: grid;
  // grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    width: 324px;
    padding: 0;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.catalog__item::before {
  @media (min-width: $tablet-width) {
    content: "";
    display: block;
    width: 100%;
    height: 430px;
    background-color: $color-light-primary;
    position: absolute;
    z-index: -1;
    bottom: 0;
  }
}

.catalog__item--other {
  padding: 50px 77px 40px;
}

.catalog__item--wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0 37px 32px;
  }
}

