@use "../common/mixins.scss";
@use "../common/variables.scss";

.contacts {

  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    background-color: $color-light-primary;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1440px;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  // padding: 26px 20px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 60px 70px;
  }
}

.contacts__description {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  //font-weight: 700;
  margin: 0;
  text-align: start;
  font-family: $secondary-font;

  @media (min-width: $tablet-width) {
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    /* z-index: 2;
      position: absolute;
      background-color: $color-light; */
  }
}

.contacts__text {
  font-size: 14px;
  line-height: 20px;
  color: $color-dark-primary;
  font-style: normal;

  @media (min-width: $tablet-width) {
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    /* z-index: 2;
      position: absolute;
      background-color: $color-light; */
  }
}

.contacts__map-image {
  height: 100%;
  width: 100%;

  @media (min-width: $tablet-width) {
    // width: 768px;
    //height: 400px;
  }

  @media (min-width: $desktop-width) {
    //width: 1440px;
  }
}

