@use "../common/mixins.scss";
@use "../common/variables.scss";

.example {
  background-color: $color-light-secondary;
  max-width: 100%;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to bottom, #ffffff 0 619px, #eaeaea 619px);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-image: linear-gradient(to bottom, #ffffff  598px 0, #eaeaea 598px 20%);
  }
}

.example__title {
  line-height: 36px;
  font-size: 40px;
  color: $color-dark;
  text-align: start;
  padding: 25px 20px 20px;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    padding: 45px 0 0 30px;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-light;
    width: 325px;
  }
}

.example__list {
  display: grid;
  padding: 0 20px;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 27% 27% 1fr;
    margin-bottom: 99px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-template-columns: 1fr 1fr;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: $border-primary;
  width: 124px;
}

.example__description {
  padding: 0 20px 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    max-width: 436px;
  }
}


.example__item-title {
  font-size: 24px;
  line-height: 24px;
  padding: 15px;
}

.example__item-text {
  line-height: 12px;
  font-size: 12px;
  text-align: center;
  max-width: 80px;
  padding: 2px 10px 14px;
  background-color: $color-light-secondary;
  margin: -6px auto -26px;

  @media (min-width: $tablet-width) {
    background-color: $color-light;
  }
}

.example__cash {
  line-height: 20px;
  color: $color-dark;
  text-align: center;
  margin: 0 auto 10px;
  display: block;
  padding: 20px 20px 10px;
  grid-column: 1/3;

  @media (min-width: $tablet-width) and (max-width: ($desktop-width)-1) {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    text-align: end;
    grid-column: auto;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    display: flex;
    gap: 60px;
    margin: 0;
  }
}

.example__cash-number {
  @media (min-width: $tablet-width) {
    width: 80px;
  }
}

.example__slider {
  padding: 0 20px 40px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0 auto 40px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 2/-3;
  }
}

.example__button {
  position: relative;
}

