@use "../common/mixins.scss";
@use "../common/variables.scss";

.footer {
  background-color: $color-light-primary;
}

.footer__developer {
  &:hover::after {
    background-color: $color-light-special;
  }
}

.footer__developer-text {
  display: flex;
  gap: 140px;
  align-items: center;
  color: $color-dark-primary;
}
/* .footer__developer-text::after {
  content: "";
  width: 27px;
  height: 34px;
  background-color: $color-socials;
  mask-image: url("../../icons/stack.svg#developer");
  display: block;
} */
