@use "../common/mixins.scss";
@use "../common/variables.scss";

.footer {
  background-color: $color-light-primary;
}

.footer__wrapper {
  display: grid;
  gap: 17px;
  justify-items: center;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__logo-img {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__developer {
  min-width: 280px;
  padding-bottom: 20px;
}

.footer__developer-text {
  display: flex;
  align-items: center;
  color: $color-dark-primary;
  justify-content: space-between;

  &:hover::after {
    background-color: $color-light-special;
  }
}

.footer__developer-text::after {
  content: "";
  width: 27px;
  height: 34px;
  background-color: $color-socials;
  mask-image: url("/icons/stack.svg#developer");
  mask-size: 27px 34px;
  mask-position: center;
  display: block;
}

.footer__logo {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 0;
  justify-content: center;
  display: flex;
}
