@use "../common/mixins.scss";
@use "../common/variables.scss";


@media (min-width: $tablet-width) {
  .main-wrapper {
    //max-width: 768px;
    // padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .main-wrapper::before {
    // max-width: 1220px + 60;
    //padding: 0 120px;
    content: "";
    background-image: url("../../images/background/background-cat-desktop-1@2x.png");
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 0;
  }
}
