@use "../common/mixins.scss";
@use "../common/variables.scss";

.promo {
  background-repeat: no-repeat;
  background-size: auto 302px;
  margin-bottom: 20px;


  @media (min-width: $tablet-width) and (max-width: ($desktop-width)-1) {
    background-color: $color-light;
    color: $color-dark;
    display: flex;
    flex-direction: column;
    background-image: none;
    position: relative;
  }
}

.promo::before {
  content: "";
  display: block;
  background-image: linear-gradient(to bottom, #ffffffa1 0%, #68b738cc 0%), url("../../images/background/background-cat\ @2x.png"), linear-gradient(to bottom, #ffffffba 0%, #4f4e54 0%);
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto 302px;
  background-position: center top;
  height: 302px;
  position: absolute;
  z-index: -1;

  @media (min-width: $tablet-width) and (max-width: ($desktop-width)-1) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    content: "";
    background-image: linear-gradient(to bottom, #ffffffa1 0%, #68b738cc 0%), url("../../images/background/cat-desktop@2x.png"), linear-gradient(to bottom, #ffffffba 0%, #4f4e54 0%);
    background-repeat: no-repeat;
    background-size: auto 694px;
    background-position: center top;
    width: 50%;
    height: 694px;
    right: 0;
    top: 0;
    display: block;
  }
}

.promo__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 566px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;
    padding-left: 10px;
  }
}

.promo__title {
  font-family: $secondary-font;
  font-weight: 400;
  line-height: 36px;
  font-size: 36px;
  text-align: center;
  color: $color-light;
  order: -3;
  margin: 0 0 25px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    color: $color-dark;
    text-align: start;
    padding-left: 120px;
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 60px;
    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.promo__description {
  font-family: $secondary-font;
  line-height: 14px;
  font-size: 14px;
  color: $color-light;
  text-transform: uppercase;
  text-align: center;
  order: -2;
  margin: 0 0 28px;

  @media (min-width: $tablet-width) {
    color: $color-dark;
    text-align: start;
    padding-left: 120px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.promo__image {
  margin: 0 auto 3px;
  display: block;

  @media (min-width: $tablet-width) {
    margin: -80px auto;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    position: absolute;
    left: 87%;
    bottom: -56%;
    z-index: 1;
  }
}

.promo__button {
  display: block;
  margin: 0 auto;
  min-width: calc(100% - 40px);
  line-height: 20px;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    width: 244px;
    order: -1;
    padding: 14px 10px;
    font-size: 20px;
    line-height: 26px;
    margin-left: 120px;
    z-index: 4;
    max-width: calc(100% - 20px);
  }
}
