@use "../common/mixins.scss";
@use "../common/variables.scss";

.promo {
  background-color: $color-light-special;
  color: $color-dark;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    background-color: $color-light;
    color: $color-dark;
    display: flex;
    flex-direction: column;
  }
}

.promo__title {
  line-height: 36px;
  font-size: 36px;
  text-align: center;
  color: $color-light;

  @media (min-width: $tablet-width) {
    color: $color-dark;
  }
}


.promo__description {
  font-family: $secondary-font;
  line-height: 14px;
  font-size: 14px;
  color: $color-light;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: $color-dark;
  }
}

.promo__image {
  /* background-color: transparent; */
  display: flex;

  @media (min-width: $tablet-width) {
    z-index: -1;
    order: 2;
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .promo__button {
    width: 244px;
    order: 1;
  }
}
