@use "../common/mixins.scss";
@use "../common/variables.scss";

.promo {
  //background-image: url("../../images/background/background-cat @2x.png");
  background-image: linear-gradient(to bottom, #4e4e5300, #403f4400);
  background-repeat: no-repeat;
  background-size: auto 302px;
  // background-position: center top;
  // display: flex; //убрать флекс
  // flex-flow: column;
  // flex-wrap: wrap;
  margin-bottom: 20px;
  // overflow-x: hidden;
  position: relative;

  @media (min-width: $tablet-width) and (max-width: ($desktop-width)-1) {
    background-color: $color-light;
    color: $color-dark;
    display: flex;
    flex-direction: column;
    background-image: none;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    // background-image: url("../../images/background/background-cat-desktop@2x.png");
    // background-size: auto 694px;
  }
}


.promo::before {
  content: "";
  display: block;
  background-image: linear-gradient(to left, (rgba(127, 194, 86, 0.85)), rgba(104, 183, 56, 0.85)), url("../../images/background/background-cat\ @2x.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto 302px;
  background-position: center top;
  height: 302px;
  position: absolute;
  z-index: -1;
}


//linear-gradient(to right, #54525836, #3e3d426b),
//linear-gradient(to right, #68b738d9, #68b738d9) .


@media (min-width: $desktop-width) {
  .promo::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: auto 694px;
    background-position: right top;
    width: 50%;
    height: 694px;
    //z-index: -1;
    background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85));
    top: 0;
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .promo::before {
    content: "";
    position: absolute;
    background-image: linear-gradient(90deg, #545358 0%, #424045 100%);
    //background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto 694px;
    background-position: center top;
    width: 720px;
    height: 680px;
    z-index: -1;
    top: 0;
    right: 0;
    display: block;
  }
}

/* @media (min-width: $desktop-width) {
  .promo__background::before {
    content: "";
    background-image: url("../../images/background/background-cat-desktop-1@2x.png");
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 0;
  }
} */


.promo__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.promo__title {
  line-height: 36px;
  font-size: 36px;
  text-align: center;
  color: $color-light;
  order: -3;

  @media (min-width: $tablet-width) {
    color: $color-dark;
    text-align: start;
    padding-left: 120px;
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 60px;
    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-area: title;
    display: block;
  }
}


.promo__description {
  font-family: $secondary-font;
  line-height: 14px;
  font-size: 14px;
  color: $color-light;
  text-transform: uppercase;
  text-align: center;
  order: -2;
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    color: $color-dark;
    text-align: start;
    padding-left: 120px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-area: text;
  }
}

.promo__image {
  /* background-color: transparent; */
  //display: flex;
  //display: grid;
  margin: 0 auto;
  display: block;

  @media (min-width: $tablet-width) {
    margin: -80px auto;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    //margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-area: img;
    grid-column: 3/-1;
    position: absolute;
    right: 23%;
    top: 8%;
    z-index: 1;
  }
}


.promo__button {
  display: block;
  margin: 0 auto;
  max-width: calc(100% - 20px); //был min

  @media (min-width: $tablet-width) {
    width: 244px;
    order: -1;
    padding: 14px 10px;
    font-size: 20px;
    line-height: 26px;
    margin-left: 120px;
    z-index: 4;
  }

  @media (min-width: $desktop-width) {
    grid-area: button;
  }
}
