@use "../common/mixins.scss";
@use "../common/variables.scss";

.slider {
  display: grid;
  grid-template-columns: 50% auto 50%;
  position: relative;
  width: min(100%, 560px);
  aspect-ratio: 280/256;
}


.slider__image {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.slider__image--before {
  object-position: left;
}

.slider__image--after {
  object-position: right;
}
