@use "../common/mixins.scss";
@use "../common/variables.scss";

.working__list {
  list-style-type: none;
  padding: 0 0 36px;
  margin: 0;
  counter-reset: working 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px 100px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 77px;
  }
}

.working__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 19px;
  align-items: center;
  counter-increment: working 1;
  position: relative;
  padding: 9px 0 12px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-width: 237px;
    // margin-right: 137px;
    margin-top: 37px;
    padding: 40px 26px 57px 0;
  }

  .working__item:nth-child(2n) {
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.working__item::after {
  content: counter(working);
  width: 100%;
  height: 100%;
  font-family: $secondary-font;
  font-size: 280px;
  line-height: 280px;
  display: none;
  z-index: -1;
  color: $color-light-secondary;
  position: absolute;
  left: 40%;
  bottom: 0;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.working__item::before {
  content: "";
  background-color: $color-light-special;
  width: 60px;
  height: 60px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 32px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.working__item--useful::before {
  content: "";
  background-image: url("../../icons/stack.svg#sheet");
}

.working__item--powder::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#powder");
}

.working__item--functional::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#knife-fork");
}

.working__item--upgrade::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#alarm");
}

.working__title {
  line-height: 40px;
  font-size: 36px;
  text-align: start;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.working__item-text {
  display: flex;
  margin: 0;
}

